<?xml version="1.0" encoding="utf-8"?>
<module>
    <classes>
        <class type="default" name="Src\ModuleBase" />
        <class type="install" name="Src\ModuleBase" />
    </classes>

    <actions>
        <action name="procDa_reactionReact"
            class="Src\Controllers\RequestHandler" />


        <!-- ADMIN ========================================================= -->
        <!-- index -->
        <action name="dispDa_reactionAdminConfig"
            class="Src\Controllers\AdminRequestHandler"
            admin-index="true"
            menu-name="daReactionConfig" />
        <!-- 모듈 설정 저장 -->
        <action name="procDa_reactionAdminSaveConfig"
            class="Src\Controllers\AdminRequestHandler" />
        <action name="procDa_reactionAdminSaveModuleConfig"
            class="Src\Controllers\AdminRequestHandler" />
    </actions>

    <!-- 이벤트 핸들러 등록 -->
    <eventHandlers>
        <eventHandler after="moduleHandler.proc"
            class="Src\EventHandler"
            method="ListenerModuleHandlerProcAfter" />
        <eventHandler before="module.dispAdditionSetup"
            class="Src\EventHandler"
            method="ListenerModuleDispAdditionSetup" />
    </eventHandlers>

    <!-- 관리페이지용 메뉴 -->
    <menus>
        <menu name="daReactionConfig" type="all">
            <title xml:lang="ko">daReactionConfig</title>
        </menu>
    </menus>
</module>